POSTGRES_DB=emc_db
POSTGRES_USER=emc_user
POSTGRES_PASSWORD=change_me

DB_NAME=emc_db
DB_USER=emc_user
DB_PASSWORD=change_me
DB_HOST=db
DB_PORT=5432

DJANGO_DEBUG=0
DJANGO_SECRET_KEY=change_me

DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
